<?php

// Template Name: Galleria

get_header(); ?>

		<!-- this is the Gallery Page -->
		<ul class="bxslider">
			<li><img src="../wp-content/themes/html5blank-stable/img/fenceline.jpg" width="300" height="300" /></li>
			<li><img src="../wp-content/themes/html5blank-stable/img/fenceline.jpg" width="300" height="300" /></li>
	  		<li><img src="../wp-content/themes/html5blank-stable/img/fenceline.jpg" width="300" height="300" /></li>
	  		<li><img src="../wp-content/themes/html5blank-stable/img/fenceline.jpg" width="300" height="300" /></li>
	  		<li><img src="../wp-content/themes/html5blank-stable/img/fenceline.jpg" width="300" height="300" /></li>
		</ul>
		<script>
			$(document).ready(function(){
					$('.bxslider').bxSlider();
				});
		</script>

<?php get_footer(); ?>

<?php get_footer(); ?>
