/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

// SASS

$seashell: rgb(255,245,238);
$dimgrey: #696969;
h1 {
	color: red;
	font-size: 3.2rem;
}
h2	{
	color: green;
	font-size: 2.4rem;
}
p 	{
	color: black;
	font-size: 1.8rem;
}
/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
// body wrapper
body {
	font:300 11px/1.4 'Helvetica Neue', Arial, sans-serif;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.menu {
	margin: 0 auto;
}
// Navigation Bar Styling
.nav {
	position: fixed;
	// z-index: 3;
	margin: 0;
	width: 100%;
	background-color: rgba(255,250,205, 0.8);
	// opacity: 0.5;
	top: 0;
	ul li {
		font-size: 3.6rem;
		font-family: "Helvetica Neue", sans-serif;
		display: inline-block;
		position: relative;
		padding: 2% 1%;
		a {
			text-decoration: none;
			color: #8E651F;	
		}	
	}
}	
// Rosedale Logo
.nav img {
	width: 13%;
	// background-size: cover;
	margin-right: 0 auto;
	float: left;
}
/* hero image */
.hero {
	max-width: 100%;
	display: block;
	background-size: cover;
	img {
		width: 100%;
	}
}	
/* main section (right) */
// .main {
// 	max-width: 70%;
// 	font-family: "Helvetica Neue", sans-serif;
// 	font-size: 1.4rem;
// 	color: black;
// 	margin: 0;
// 	background-color: #BADA55;
// 	// background-color: #F5E3BB;
// 	padding: 5% 3%;
// 	a {
// 		text-decoration: none;
// 		color: black;

// 	}
// }

/* posts styling */
.posts {
	width: 66%;
	border: 1px solid red;
	background-color: lightgrey;
	padding: 2% 5%;
	margin: 2% 3%;
	float: left;
	h1 {
		color: red;
		font-size: 3.2rem;
		}
	h2.a	{
		color: blue;
		font-size: 2.4rem;
		}
	a 	{
		font-size: 2.8rem;
		color: black;
		text-decoration: none;
	p:posts::first-letter {
		font-size: 2.2rem;
	}

	}
}
// Single Blog Post Styling in single.php
.single {
	background-color: red;
	position: relative;
}
.sliderwrap {
	height: 200px;
	width: 90%;
}
.bxslider li {
	list-style-type: none;
	display: inline-block;
	padding: 0 5% 0 5%;
}

// Jetpack Gallery Settings
// .gallery-row {
// 	margin: 0 auto;
// }

// .tiled-gallery-item {
// 	padding-left: 5%;
// }      

/* sidebar */
.sidebar {
	background-color: lightgrey;
	margin: 2% 2% 2% 0%;
	width: 25%;
	float: left;
	text-decoration: none;
	.clear {
		text-align: center;
		color: white;
		font-size: 1.6rem;
		a:hover {
			color: red;
			text-decoration: none;
		}
	}
	.instagram-pics {
		padding: 0% 8%;
	}
	img {
		width: 50%;
		padding: 2%;
	}
	h3 {
		font-size: 2.4rem;
		text-align: center;
	}
	ul li {
	width: 60%;
	display: inline;
	a {
		text-decoration: none;
		text-align: center;
		color: white;
	p.clear a {
		text-decoration: none;
	}	
	}
	}
}
.about {
	width: 66%;
	border: 1px solid red;
	background-color: lightgrey;
	padding: 2% 5%;
	margin: 2% 3%;
	float: left;
}
.clydes {
	width: 100%;
	padding: 2% 5%;
}
.horse {
	width: 23%;
	background-color: lightgrey;
	display: inline-block;
	vertical-align: top;
	// float: left;
	border: 1px solid $dimgrey;	
	img {
		width: 75%;
		height: auto;
		transform: translateX(15%) translateY(15%);
		margin: 0 auto;
	}
	// h1 {
	// 	color: white;
	// 	text-align: center;
	// }
	ul li {
		color: white;
		font-size: 1.8rem bold;
		list-style: none;
		text-align: left;
		padding: 0% 20%;
	}
}	
ul.post-meta { 
	color: lightgrey;
	font-size: 1.8rem;
	padding: 0;
}
.post-meta-key {
	color: black;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.8rem;
}
.span.post-meta-key {
	color: white;
}
.social {
	background-color: orange;
	clear: both;
	text-align: center;
	ul {
		margin: 0;
	}
	ul li {
		text-decoration: none;
		display: inline-block;
		padding: 2%;
		font: black;
	p {
		margin: 0;
		}
	a:hover {
		color: red;
	}
	}
}
// Contact page styling

.contact { 
		position: relative;
		width: 60%;
		border: 1px solid blue;
		resize: none;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5%;
		padding: 2% 2%;
    	
    	label {
    		font-family: Helvetica, sans-serif;
    		font-size: 2.4rem;
    	.pushbutton-wide {
			height: 50px;
}			
		}
}
input:focus {
		outline:none;
}

#g-14 {
	height: 200px;
}			
// .contact-form.input[type='email'] {
//     border: 2px 2px 10px 10px lightgrey;
// 	width: 65%;
// 	box-shadow: 10px 10px 5px 5px black;
// }
.contact-form textarea {
		resize: none;
		text-size: 3.6rem;
		max-width: 50%;
}

// z-index:0 is so social icons do not float on top of nav (z-index:1;) when scrolling
.share-icon {
	z-index: 0;
	fill: green;
}
/* footer */
.footer {
	width: 100%;
	color: white;
	background-color: black;
	clear: both;
	p {
		text-align: center;
		margin: 0;
	}
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}